.pastel {
  transition: all 0.3s ease-in-out;
}

.pdf-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.pdf-grid .card {
  width: 200px; /* o 30% si quieres responsivo */
  margin: 0;
}

.pdf-grid img {
  height: 150px;
  object-fit: cover;
}

.text-color-naranja {
  color: #ed7324;
}

/* Botón anaranjado tipo outline */
.btn-outline-naranja {
  color: #ed7324;
  border-color: #ed7324;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-naranja:hover {
  background-color: #ed7324;
  color: #fff;
}

/* Estado activo (cuando se selecciona el filtro) */
.filter-btn.active {
  background-color: #ed7324 !important;
  color: #fff !important;
  border-color: #ed7324 !important;
}

.logo-lorena {
  max-width: 300px;  /* Ajusta el tamaño a tu preferencia */
  height: auto;
}
